<div class='row'></div>

<a href="/"><h1 class='offset-by-six three columns'>Sunmi</h1></a>
<h1 class='two columns'>Oh</h1>

<div class='row'></div>

<a href="/contact">
	<img class='offset-by-six four columns' src="/images/profile.jpg" />
</a>

<div class='row'></div>

<h2 class='offset-by-three three columns'>Ruby</h2>
<h2 class='three columns'>Sinatra</h2>
<h2 class='three columns'>HTML</h2>
<h2 class='three columns'>CSS</h2>