<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css">

	<title>My Face</title>

	<!-- helpful to see where columns are
	<style>
		.columns {
			background-color: gray;
		}
	</style> -->

</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>